<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<div class="container">
    <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="active"><a href="{{{url}}}">User details</a></li>
    </ul>
    <div class="jumbotron">
        <label>User</label>
        <p>{{{ fullname }}}</p>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th class="text-center">Average heart rate</th>
                <th class="text-center">Details</th>
            </tr>
            </thead>
            <tbody>
            {{#each data}}
                <tr>
                    <th scope="row">{{this.index_increment}}</th>
                    <td class="text-center">{{{this.avg}}}</td>
                    <td class="text-center">
                        <a href="{{{this.url}}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>