<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <meta charset="utf-8">
</head>
<body>
<div class="container">
    <div id="breadcrumbs" class="row">
        <div class="btn-group btn-breadcrumb">
            <a href="/" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
            <a href="{{{details_url}}}" class="btn btn-primary">{{{ fullname }}}</a>
            <a href="{{{url}}}" class="btn btn-primary">Records</a>
            <a style="cursor: text" class="btn btn-primary">Session {{{session_number}}}</a>
        </div>
    </div>

    <div class="jumbotron">
        <div class="row">
            {{#if session.is_completed}}
                <h2 class="success">Session completed</h2>
            {{else}}
                <h2 class="error">Session not completed</h2>
            {{/if}}
            <br>
            <p><b>Records: {{{session.completed_records}}}/{{{session.number_of_records}}}</b></p>

        </div>

        <table id="table" class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th class="text-center">Heart rate</th>
                <th class="text-center">Start time</th>
                <th class="text-center">End time</th>
                <th class="text-center">Length (sec)</th>
            </tr>
            </thead>
            <tbody>
            {{#each data}}
                <tr>
                    <th scope="row">{{{this.record_number}}}</th>
                    <td class="text-center">{{{this.heart_rate}}}</td>
                    <td class="text-center">{{{this.start_record_time}}}</td>
                    <td class="text-center">{{{this.end_record_time}}}</td>
                    <td class="text-center">{{{this.length}}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('a').on('dragend', function () {
            var $this = $(this),
                    $parent = $this.parent(),
                    $next = $(this.nextSibling); // $.next() doesn't include text
            $this.detach().insertBefore($next);
        });
    });
</script>
</body>
</html>