<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<div class="container">
    <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
    </ul>
    <div class="jumbotron">
        <label>Name</label>
        <p>{{{ user.name }}}</p>
        <label>Surname</label>
        <p>{{{ user.surname }}}</p>
        <label>JMBAG</label>
        <p>{{{ user.jmbag }}}</p>
        <label>Active since</label>
        <p>{{{ user.active_since }}}</p>

        <br/>
        <a id="get_records" class="btn search" href="{{{url}}}">Get all records</a>
    </div>
</div>

    {{#if is_empty}}
    <script type="text/javascript">
        $(function () {
            $("#isEmpty").modal();

            //remove query string of bad JMBAG
            window.history.replaceState(null, null, window.location.pathname);
        });
    </script>
{{/if}}

<div class="modal fade" id="isEmpty">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>There are no records for this user</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn search" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
